:root {
    --yellow: #fbff00;
    --dark-blue: #2f484d;
    --dark-green: #005345;
    --light-green: #00a745;
}

body {
    background-color: var(--dark-blue);
    color: var(--yellow);
    font-weight: bold;
    font-family: sans-serif;
}

h1 {
    font-size: 35px;
    margin-top: 10px;
    text-shadow: 1px 1px 5px var(--light-green);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.info-score {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard-container {
    display: grid;
    grid-template: repeat(3, 80px) / repeat(3, 80px);
}

.board-button {
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--dark-green);
    color: var(--yellow);
    text-shadow: 0px 0px 2px white;
    border: 1px solid var(--light-green);
}

#new-game-button {
    height: 30px;
    border: 1px solid var(--dark-green);
    background-color: var(--yellow);
    color: var(--dark-green);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--yellow);
}

#new-game-button:hover {
    background-color: var(--dark-green);
    color: var(--yellow);
}

.hidden {
    visibility: hidden;
}

#endgame-modal {
    background-color: var(--yellow);
    border-color: var(--light-green);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: var(--dark-green);
}

#modal-message {
    font-size: 30px;
}

#btn-close-modal {
    margin-top: 10px;
    cursor: pointer;
}

.info-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px var(--light-green);
}

.info {
    text-align: center;
}
